@import 'reset';
@import 'config';

body {
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--clr-primary-violet);
    background-size: contain;
    background-position: top;

    @include desktop {
        background-image: url('../images/bg-desktop.svg');
        background-size: cover;
        background-position: -80px;
        
    }
}

header {
    padding: 2rem;

    @include desktop {
        padding: 4rem;
    }

    img {
        width: 8rem;

        @include desktop {
            width: 13rem;
        }
    }
}

.container {
    display: grid;
    padding: 1.7rem 2.3rem;

    @include desktop {
        grid-template-columns: 1.3fr 1fr;
        align-items: start;
        gap: 3rem;
        padding-inline: 4rem;
        padding-bottom: 0;
        // margin-top: 2rem;
    }

    figure {
        margin-bottom: 4rem;

        @include desktop {
            margin: 0;
        }

        img {
            width: 100%;
        }
    }
}

.primary {
    display: grid;
    gap: 1rem;

    @include desktop {
        justify-items: start;
        padding-top: 2rem;
    }

    .primary__title {
        font-family: var(--ff-headings);
        font-weight: var(--fw-headings-bold);
        text-align: center;
        color: white;

        @include desktop {
            text-align: left;
            font-size: 2.5rem;
            max-width: 85%;
            line-height: 1.5;
        }
    }

    .primary__text {
        font-family: var(--ff-body);
        color: rgba(white, .9);
        text-align: center;
        font-weight: var(--fw-body-regular);
        font-size: 1rem;
        line-height: 1.5;

        @include desktop {
            text-align: left;
            font-size: 1.19rem;
            line-height: 1.5;
            color: rgba(white, .9);
        }
    }

    .primary__btn {
        display: inline-block;
        padding-block: .5rem;
        min-width: 70%;
        margin-inline: auto;
        background-color: white;
        color: var(--clr-primary-violet);
        border-radius: 30px;
        text-align: center;
        text-decoration: none;
        font-family: var(--ff-headings);
        transition: all .3s ease-in;
        box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.4);

        @include desktop {
            margin: 0;
            min-width: 13rem;
            padding-block: .9rem;
            margin-top: .8rem;
            font-size: 1.2rem;
        }

        &:hover{
            background-color: var(--clr-primary-magenta);
            color: white;
        }
    }
}

footer {
    text-align: center;
    margin-top: 1.5rem;

    @include desktop {
        text-align: right;
        padding-right: 5rem;
        margin: 0;
    }

    .socials {
        display: inline-flex;
        justify-content: center;
        gap: 1rem;
        
        .fa-brands{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: white;
            border: 1px solid white;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            transition: all .3s ease-in;
            cursor: pointer;

            &::before {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
            }

            &:hover {
                color: var(--clr-primary-magenta);
                border-color: var(--clr-primary-magenta);
            }
        }
    }
}